################################################################################
#
# Resource file of custom package CCPi
#
################################################################################


module -name     "ParallelB_recon" \
       -primary  "HxUniformScalarField3" \
       -class    "Parallel_Beam_recon" \
       -category "Local" \
       -package  "CCPiReconstruction" \
       -icon     "TVDefCompute"


module -name     "ConeB_recon" \
       -primary  "HxUniformScalarField3" \
       -class    "Cone_Beam_recon" \
       -category "Local" \
       -package  "CCPiReconstruction" \
       -icon     "TVDefCompute"


module -name     "NeXus_norm" \
       -primary  "HxUniformScalarField3" \
       -class    "NeXus_normalise" \
       -category "Local" \
       -package  "CCPiReconstruction" \
       -icon     "TVDefCompute"
